@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1c1c1c;
  color: #f4f4f4;
  margin: 0;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}
